* {
  box-sizing: border-box;
}
.interior {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px 0;
  position: absolute;
  background-color: blue;
}

.div2 {
  left: 125px;
}

.div3 {
  top: 125px;
}

.div4 {
  top: 125px;
  left: 125px;
}

.div5 {
  background-color: red;
  position: absolute;
  top: 65.5px;
  left: 65.5px;
}
